{% extends "layout.html" %}
{% block content %}

    <div class="content-section" action="">
        <form method="POST">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class=""border-bottom mb-4> Query Roads</legend>
                <div class="form-group">
                    {{ form.x1.label(class="form=control-label") }}
                    {{ form.x1(class="form=control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.y1.label(class="form=control-label") }}
                    {{ form.y1(class="form=control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.x2.label(class="form=control-label") }}
                    {{ form.x2(class="form=control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.y2.label(class="form=control-label") }}
                    {{ form.y2(class="form=control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.srid.label(class="form=control-label") }}
                    {{ form.srid(class="form=control-lg") }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    
{% endblock %}

